
#Edit {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */


    color: #0275D8;
}
#Delete {

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */


color: #D9534F;
}