{% extends 'base.html' %}
{% block title %}
Mystical users
{% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h2>Schemes</h2>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Modified</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for item in schemes %}
  <tr>
     <th scope="row">{{ item.id }}</th>
     <td>{{ item.title }}</td>
     <td>{{ item.modified }}</td>

  </tr>
{% endfor %}
  </tbody>
</table>



{% endblock %}