{% extends 'base.html' %}

{% block title %}
Mystical users
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        {{ current_schema.title }}
        <small class="text-muted">
          <a class="btn btn-link" href="/generate_csv/{{ current_schema.id }}" id="Edit">Edit scheme</a>
        </small>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Column name</th>
            <th scope="col">Column type</th>
          </tr>
        </thead>
        <tbody>
          {% for item in current_columns %}
          <tr>
            <th scope="row">{{ item.order }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.type }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Data sets</h3>
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
  <form id="myForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col">
      Rows:
      <input type="number" class="form-control" value="start" name="count" style="width: 100px;" required>
    </div>
    <div class="col">
      <br>
      <button id="submit-button" class="btn btn-success" type="submit">Generate data</button>
    </div>
  </form>
  <div class="col">
  </div>
</div>

<table class="table" id="second-table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">file status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in files %}
    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.created }}</td>
      <td><h6 style="color: green;">Ready for download</h6> </td>
      <td><a id="download-button-{{ item.id }}" class="btn btn-success">download</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div id="spinner-container" style="display:none;">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      </th>
      <th scope="col">
        <h6 style="color: red;">your file is still being created, please wait</h6>
        </th>
    </tr>
  </thead>
</table>
    </div>

{% load static %}
<script src="{% static 'js/download.js' %}"></script>

<script>
  // Get the form element
  const form = document.getElementById('myForm');
  const schemaId = {{ current_schema.id }};

  // Get the spinner container element
  const spinnerContainer = document.getElementById('spinner-container');

  // Get the submit button element
  const submitButton = document.getElementById('submit-button');

  // Attach a listener to the form's submit event
  form.addEventListener('submit', async (event) => {
    event.preventDefault(); // Prevent the form from submitting normally

    // Disable the submit button
    submitButton.disabled = true;

    // Show the spinner
    spinnerContainer.style.display = 'block';

    // Get the form data
    const formData = new FormData(form);

    try {
      // Send the form data to the Django view using fetch()
      const response = await fetch(`/generate_csv_post/${schemaId}/`, {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token in the headers
        }
      });

      if (response.ok) {
        const data = await response.json();
        console.log(data);
        // Append a new row to the second table
        const newRow = `
          <tr>
            <th scope="row">${data.file_id}</th>
            <td>${data.created_at}</td>
            <td><h6 style="color: green;">Ready for download</h6> </td>
            <td><a id="download-button-${data.file_id}" class="btn btn-success">download</a></td>
          </tr>
        `;
        $('#second-table tbody').append(newRow);
      } else {
        console.log('Response not OK');
      }
    } catch (error) {
      console.log('Error:', error);
    } finally {
      // Enable the submit button
      submitButton.disabled = false;

      // Hide the spinner
      spinnerContainer.style.display = 'none';
    }
  });
</script>


{% endblock %}