{% extends 'base.html' %}
{% block title %}
New schema
{% endblock %}

{% block content %}

<form id="myForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container">

      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h2>New schema</h2>
        <nav class="my-2 my-md-0">
          <button class="btn btn-primary" type="submit">Submit</button>
        </nav>
      </div>

 <div class="container" id="container">
  <div class="row">
    <div class="col">
       <label style="color: black;" for="fileName">Name</label>
       <input class="form-control" placeholder="..." id="fileName" type="text" name="fileName" maxlength="20" required><br>
      <label style="color: black;" for="columnSeparator">Column separator</label><br>
      <select id="columnSeparator" name="columnSeparator" class="form-control">
        <option value="comma">Comma (,)</option>
        <option value="semicolon">Semicolon (;)</option>
      </select><br>

      <label style="color: black;" for="columnSeparator">String character</label><br>
      <select id="stringCharacter" name="stringCharacter" class="form-control">
        <option value="quotes">Quotes (')</option>
        <option value="doubleQuotes">Double quotes (")</option>
      </select>
    </div>
    <div class="col">
    </div>
  </div><br>
        <h2>Schema columns</h2><br>
    </div><br>


    <div class="modal-footer">
        <a class="btn btn-primary" id="addButton">Add column</a>
    </div>
    </div>


</form>


<script type="text/javascript">

  // Find the container element and the "Add column" button
  const container = document.getElementById('container');
  const addButton = document.getElementById('addButton');
  
  // Initialize a counter for the number of clicks
  let clickCount = 0;
  
  // Add a click event listener to the "Add column" button
  addButton.addEventListener('click', function() {
    // Generate a unique identifier
    const id = `row${clickCount}`;
  
    // Increment the counter for the number of clicks
    clickCount++;
  
    // Create a new row of fields with unique IDs
    const newRow = document.createElement('div');
    newRow.classList.add('row');
    newRow.setAttribute('id', id);
    newRow.innerHTML = `
      <div class="col">
        <p>Column name</p>
        <input class="form-control" value="Name" id="${id}-columnName" type="text" name="${id}-columnName" maxlength="50" required>
      </div>
      <div class="col">
        <p>Type</p>
        <select id="${id}-type" name="${id}-type" class="form-control">
          <option value="Name">Name</option>
          <option value="Job">Job</option>
          <option value="Email">Email</option>
          <option value="Domain name">Domain name</option>
          <option value="Phone number">Phone number</option>
          <option value="Company name">Company name</option>
          <option value="Text">Text</option>
          <option value="Integer">Integer</option>
          <option value="Date">Date</option>
        </select>
      </div>
      <div class="col" id="${id}-from-to-row">
  
      </div>
      <div class="col">
        <p>Order</p>
        <input type="number" class="form-control" value="${clickCount}" id="${id}-order" type="text" name="${id}-order" required>
      </div>
      <div class="col">
        <br><br><a style="color: red;" href="#" class="delete-link" data-rowid="${id}">Delete</a>
      </div>
    `;
  
    // Append the new row to the container
    container.appendChild(newRow);
  
    // Add a click event listener to the delete link
    const deleteLink = newRow.querySelector('.delete-link');
    deleteLink.addEventListener('click', function(event) {
      event.preventDefault();
      const rowId = deleteLink.getAttribute('data-rowid');
      const row = document.getElementById(rowId);
      row.remove();
    });
  
    // Add a change event listener to the type select input
    const typeSelect = newRow.querySelector(`#${id}-type`);
    typeSelect.addEventListener('change', function() {
      const selectedValue = typeSelect.value;
      const fromToRow = newRow.querySelector(`#${id}-from-to-row`);
  
      console.log(selectedValue);

      if (selectedValue === 'Integer') {
    fromToRow.innerHTML = `
      <div class="row g-3">
        <div class="col">
          <p>From</p>
          <input type="number" class="form-control" placeholder="Start" value="start" name="${id}-start" required>
        </div>
        <div class="col">
          <p>To</p>
          <input type="number" class="form-control" placeholder="End" value="end" name="${id}-end" required>
        </div>
      </div>
    `;
  }
   else if (selectedValue === 'Text'){
    fromToRow.innerHTML = `
      <div class="row g-3">
        <div class="col">
          <p>Number</p>
          <input type="number" class="form-control" placeholder="number" value="number" name="${id}-number" required>
        </div>
      </div>
    `;
    }
   else {
    fromToRow.innerHTML = '';
  }
  });

});




$(document).ready(function() {
  $('#myForm').submit(function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      url: "/new-schema/",
      data: $('#myForm').serialize(),
    })
  })
});
  
</script>


{% endblock %}